<div class="blockquote-wrapper">
  <div class="blockquote">
    <!-- <h1>
     Intuitive design happens when <span style="color:#ffffff">current knowledge</span> is the same as the <span style="color:#ffffff">target knowledge.</span>
     </h1> -->
    <h1>{{quote.quote}}</h1>
    <h4>&mdash;{{quote.author}}</h4>
    <div (click)="generateQuote()" class="refresh">
      <img src="../assets/refresh.png" title="One more quote!" alt="refresh" />
      <br />
      <span>One more!</span>
    </div>
  </div>
</div>